# Arquivos de projeto Android/Gradle
*.iml
.gradle
/local.properties

# Android Studio config
/.idea/
!.idea/codeStyles
!.idea/runConfigurations

# Build
/build
/app/build
/captures
.externalNativeBuild
.cxx

# Sistema
.DS_Store
Thumbs.db

# Arquivos de log
*.log

# Arquivos de saída
*.apk
*.aab

# Keystore (nunca versionar!)
*.jks
*.keystore

# Firebase/Google Services (ideal manter fora do repositório)
google-services.json
